<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      	<a class="brand" href="#">Cab Meter</a>
    </div>
  </div>
</div>
<ul class="nav nav-list bs-docs-sidenav">
	<li><i class="icon-chevron-right"></i> DATA</li>
	<li><i class="icon-chevron-right"></i> AND</li>
	<li><i class="icon-chevron-right"></i> MORE</li>
	<li><i class="icon-chevron-right"></i> DATA</li>
</ul>
<div class="container">
  {{outlet}}
</div>